


.container{
margin: 50 50 50 50;
padding:0 0 0 0;
height: 100 vh;
width: 100vh;
display: flex;
/* flex-direction: row; */
justify-content: space-around;
align-items: center;
}

.b1{
  height: 200px;
  width: 200px;
  background: aqua;
  border: 6px solid black;
}

.b2{
  height: 200px; 
  width: 200px;
  background: red;
  border: 6px solid black;
}

.b3{
  height: 200px; 
  width: 200px;
  background: green;
  border: 6px solid black;
}